@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #52796f;
  --secondary-light: #84a98c;
  --secondary-dark: #354f52;
  --accent-3: #e8eddf;
  --accent-2: #bc4749;
  --accent-1: #f5cb5c;
  --black: #242423;
  --white: #f9f9f9;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  color: var(--black);
  background-color: var(--white);
  height: 100%;
}

::-ms-reveal {
  display: none !important;
}
