<!-- THIS IS A TEST TEMPLATE FROM https://learndjango.com/tutorials/django-signup-tutorial TO BE DELETED LATER 
{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}
-->



<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <BODY BGCOLOR="#FF0000"></BODY>
  <body>
    <div id="root"></div>
    <script type="module" src="../../../frontend/src/components/Register.tsx"></script>
  </body>
</html>
